#games-container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}

@media screen and (max-width: 800px) {
    #games-container {
        display: block;
    }

    .game {
        margin: 5% !important;
        padding: 1px 2% 3% !important;
    }
}

img {
    max-width: 100%;
}

#logo {
    width: 500px;
}

.game {
    margin: 5px;
    padding: 0 10px 10px;
    background: #DDE1E5;
    border-radius: 2px;
    min-height: 225px;
}

.game-title {
    text-align: center;
}

.game table {
    width: 100%;
    text-align: center;
}

.reservations td {
    text-align: center
}

.disabled, .overbooked {
    color: grey;
}

.game form {
    display: inline-block;
    margin: 0;
}

input[type="number"] {
    width: 4em;
}

.game-buttons {
    width: fit-content;
    margin: auto;
}

#login-info {
    float: right;
}

.error {
    border: 1px solid red;
    width: fit-content;
    padding: 0.2em;
    margin-bottom: 1em;
}
